In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (2.3.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.22.4 in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [3]:
import pandas as pd

data = [10, 20, 30, 40]

s = pd.Series(data)

print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
s = pd.Series(data, index=["a", "b", "c", "d"])

print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [5]:
import pandas as pd

data = {
    "Name": ["Ali", "John", "Sara"],
    "Age": [22, 25, 21],
    "City": ["Delhi", "Mumbai", "Chennai"]
}

df = pd.DataFrame(data)

print(df)

   Name  Age     City
0   Ali   22    Delhi
1  John   25   Mumbai
2  Sara   21  Chennai

In [6]:
print(df.head())

   Name  Age     City
0   Ali   22    Delhi
1  John   25   Mumbai
2  Sara   21  Chennai

In [7]:
print(df.tail())

   Name  Age     City
0   Ali   22    Delhi
1  John   25   Mumbai
2  Sara   21  Chennai

In [8]:
print(df["Name"])

0     Ali
1    John
2    Sara
Name: Name, dtype: object

In [9]:
df["Salary"] = [20000, 30000, 25000]

print(df)

   Name  Age     City  Salary
0   Ali   22    Delhi   20000
1  John   25   Mumbai   30000
2  Sara   21  Chennai   25000

In [10]:
print(df["Age"].mean())

22.666666666666668

In [11]:
print(df["Age"].max())

25

In [12]:
print(df["Age"].min())

21

In [13]:
import pandas as pd

data = {
    "Name": ["Ali", "John", "Sara", "David"],
    "Math": [85, 90, 78, 92],
    "Science": [88, 76, 90, 85]
}

df = pd.DataFrame(data)

print("Original Data")
print(df)


# Add total

df["Total"] = df["Math"] + df["Science"]

print("\nWith Total")
print(df)


# Average

df["Average"] = df["Total"] / 2

print("\nWith Average")
print(df)


# Top student

print("\nTop Student")

print(df[df["Average"] == df["Average"].max()])

Original Data
    Name  Math  Science
0    Ali    85       88
1   John    90       76
2   Sara    78       90
3  David    92       85

With Total
    Name  Math  Science  Total
0    Ali    85       88    173
1   John    90       76    166
2   Sara    78       90    168
3  David    92       85    177

With Average
    Name  Math  Science  Total  Average
0    Ali    85       88    173     86.5
1   John    90       76    166     83.0
2   Sara    78       90    168     84.0
3  David    92       85    177     88.5

Top Student
    Name  Math  Science  Total  Average
3  David    92       85    177     88.5

In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect(":memory:")

In [3]:
conn.execute(""" 
create table customers(
id integer primary key,
name text,
Address text,
Location text
)""")

In [6]:
import sqlite3

conn = sqlite3.connect("test.db")

cursor = conn.cursor()

cursor.execute("""
create table if not exists customers(
id integer primary key,
name text,
Address text,
Location text)
""")


conn.executemany("""
insert into customers(id,name,Address,Location)
values(?,?,?,?)
""",[
    (10,'Abhi','sayyad galli','Hyd'),
    (11,'Jay','sayyad galli','Hyd'),
    (12,'Amit','sayyad galli','Hyd')
])


conn.commit()

print("Data inserted successfully")

Data inserted successfully

In [7]:
import pandas as pd

In [8]:
cursor.execute("select * from customers")

print(cursor.fetchall())

[(10, 'Abhi', 'sayyad galli', 'Hyd'), (11, 'Jay', 'sayyad galli', 'Hyd'), (12, 'Amit', 'sayyad galli', 'Hyd')]

In [9]:
import pandas as pd
import sqlite3

In [10]:
conn = sqlite3.connect("company.db")

In [11]:
conn.execute("""
CREATE TABLE IF NOT EXISTS employees(
id INTEGER PRIMARY KEY,
name TEXT,
salary INTEGER,
department TEXT
)
""")

In [12]:
data = {
    "id": [1, 2, 3],
    "name": ["Abhi", "Jay", "Amit"],
    "salary": [25000, 30000, 28000],
    "department": ["IT", "HR", "Finance"]
}

df = pd.DataFrame(data)

df.to_sql("employees", conn, if_exists="append", index=False)

print("Data Inserted")

Data Inserted

In [13]:
df = pd.read_sql("SELECT * FROM employees", conn)

print(df)

   id  name  salary department
0   1  Abhi   25000         IT
1   2   Jay   30000         HR
2   3  Amit   28000    Finance

In [14]:
conn.execute("""
UPDATE employees
SET salary = 40000
WHERE name = 'Abhi'
""")

conn.commit()

print("Updated")

Updated

In [15]:
df = pd.read_sql("SELECT * FROM employees", conn)

print(df)

   id  name  salary department
0   1  Abhi   40000         IT
1   2   Jay   30000         HR
2   3  Amit   28000    Finance

In [16]:
conn.execute("""
DELETE FROM employees
WHERE name = 'Jay'
""")

conn.commit()

print("Deleted")

Deleted

In [17]:
df = pd.read_sql("SELECT * FROM employees", conn)

print(df)

   id  name  salary department
0   1  Abhi   40000         IT
1   3  Amit   28000    Finance

In [2]:
pip install pandas reportlab python-barcode pillow

Requirement already satisfied: pandas in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (2.3.3)
Collecting reportlab
  Downloading reportlab-4.4.10-py3-none-any.whl.metadata (1.7 kB)
Collecting python-barcode
  Downloading python_barcode-0.16.1-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: pillow in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (11.0.0)
Requirement already satisfied: numpy>=1.22.4 in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: charset-normalizer in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (from reportlab) (3.4.3)
Requirement already satisfied: six>=1.5 in c:\users\mustafeez\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading reportlab-4.4.10-py3-none-any.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ----- ---------------------------------- 0.3/2.0 MB ? eta -:--:--
   -------------------------------- ------- 1.6/2.0 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 5.4 MB/s  0:00:00
Downloading python_barcode-0.16.1-py3-none-any.whl (228 kB)
Installing collected packages: reportlab, python-barcode

   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   ---------------------------------------- 0/2 [reportlab]
   -------------------- ------------------- 1/2 [python-barcode]
   -------------------- ------------------- 1/2 [python-barcode]
   -------------------- ------------------- 1/2 [python-barcode]
   -------------------- ------------------- 1/2 [python-barcode]
   ---------------------------------------- 2/2 [python-barcode]

Successfully installed python-barcode-0.16.1 reportlab-4.4.10
Note: you may need to restart the kernel to use updated packages.

In [5]:
import tkinter as tk
from tkinter import ttk, messagebox
import sqlite3
import pandas as pd
import datetime


# ---------------- DATABASE ---------------- #

conn = sqlite3.connect("hotel_pos.db")


# Users

conn.execute("""

CREATE TABLE IF NOT EXISTS users(

username TEXT PRIMARY KEY,
password TEXT

)

""")

conn.execute("""

INSERT OR IGNORE INTO users VALUES(

'admin','admin123'

)

""")


# Menu

conn.execute("""

CREATE TABLE IF NOT EXISTS menu(

id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT,
price REAL,
cost REAL

)

""")


# Orders

conn.execute("""

CREATE TABLE IF NOT EXISTS orders(

date TEXT,
table_no INTEGER,
item TEXT,
qty INTEGER,
price REAL,
total REAL,
profit REAL

)

""")


conn.commit()


# Default Menu

menu_data = [

("Biryani",200,120),

("Fried Rice",150,90),

("Dosa",80,40),

("Tea",20,5),

("Coffee",30,10),

("Burger",120,70)

]

for item in menu_data:

    conn.execute("""

    INSERT OR IGNORE INTO menu(name,price,cost)

    VALUES(?,?,?)

    """,item)

conn.commit()


# ---------------- LOGIN ---------------- #

def login():

    user = user_entry.get()

    pwd = pass_entry.get()


    data = conn.execute(

    "SELECT * FROM users WHERE username=? AND password=?",

    (user,pwd)).fetchall()


    if data:

        login_win.destroy()

        dashboard()

    else:

        messagebox.showerror("Error","Invalid Login")



# ---------------- DASHBOARD ---------------- #

def dashboard():

    dash = tk.Tk()

    dash.title("Hotel POS")

    dash.geometry("900x600")

    dash.configure(bg="#34495e")


    tk.Label(dash,

    text="Hotel POS System",

    font=("Arial",22),

    fg="white",

    bg="#34495e").pack(pady=20)


    tk.Button(dash,

    text="New Order",

    width=20,

    command=new_order).pack(pady=10)


    tk.Button(dash,

    text="Sales Report",

    width=20,

    command=sales_report).pack(pady=10)


    tk.Button(dash,

    text="Profit Report",

    width=20,

    command=profit_report).pack(pady=10)



    dash.mainloop()



# ---------------- NEW ORDER ---------------- #

def new_order():

    order_win = tk.Toplevel()

    order_win.title("Order")

    order_win.geometry("700x500")


    # Table number

    tk.Label(order_win,

    text="Table No").pack()


    table_combo = ttk.Combobox(order_win,

    values=list(range(1,21)))

    table_combo.pack()


    # Menu

    menu = pd.read_sql(

    "SELECT name FROM menu",conn)


    tk.Label(order_win,

    text="Menu Item").pack()


    item_combo = ttk.Combobox(

    order_win,

    values=list(menu["name"]))

    item_combo.pack()


    tk.Label(order_win,

    text="Quantity").pack()


    qty_entry = tk.Entry(order_win)

    qty_entry.pack()


    tree = ttk.Treeview(order_win)

    tree["columns"]=("Item","Qty","Price","Total")

    for col in tree["columns"]:

        tree.heading(col,text=col)

    tree.pack()


    def add():

        item = item_combo.get()

        qty = int(qty_entry.get())


        data = conn.execute("""

        SELECT price,cost FROM menu

        WHERE name=?

        """,(item,)).fetchone()


        price, cost = data


        total = price * qty


        tree.insert("",tk.END,

        values=(item,qty,price,total))



    def save():

        table_no = table_combo.get()

        date = str(datetime.date.today())


        for row in tree.get_children():

            data = tree.item(row)["values"]

            item, qty, price, total = data


            cost = conn.execute("""

            SELECT cost FROM menu

            WHERE name=?

            """,(item,)).fetchone()[0]


            profit = (price-cost)*qty


            conn.execute("""

            INSERT INTO orders

            VALUES(?,?,?,?,?,?,?)

            """,(date,table_no,

            item,qty,price,total,profit))


        conn.commit()

        messagebox.showinfo("Saved","Order Saved")



    tk.Button(order_win,

    text="Add Item",

    command=add).pack()


    tk.Button(order_win,

    text="Save Bill",

    command=save).pack()



# ---------------- SALES REPORT ---------------- #

def sales_report():

    win = tk.Toplevel()

    df = pd.read_sql(

    "SELECT * FROM orders",conn)


    text = tk.Text(win)

    text.pack()

    text.insert(tk.END,str(df))



# ---------------- PROFIT ---------------- #

def profit_report():

    win = tk.Toplevel()

    df = pd.read_sql(

    "SELECT SUM(profit) FROM orders",

    conn)


    tk.Label(win,

    text="Total Profit",

    font=("Arial",20)).pack()


    tk.Label(win,

    text=str(df.iloc[0,0]),

    font=("Arial",20)).pack()



# ---------------- LOGIN WINDOW ---------------- #

login_win = tk.Tk()

login_win.title("Hotel Login")

login_win.geometry("400x300")


tk.Label(login_win,

text="Username").pack()

user_entry = tk.Entry(login_win)

user_entry.pack()


tk.Label(login_win,

text="Password").pack()

pass_entry = tk.Entry(login_win,

show="*")

pass_entry.pack()


tk.Button(login_win,

text="Login",

command=login).pack()


login_win.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\mustafeez\AppData\Local\Programs\Python\Python310\lib\tkinter\__init__.py", line 1921, in __call__
    return self.func(*args)
  File "C:\Users\mustafeez\AppData\Local\Temp\ipykernel_15628\979394428.py", line 308, in save
    profit = (price-cost)*qty
TypeError: unsupported operand type(s) for -: 'str' and 'float'
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\mustafeez\AppData\Local\Programs\Python\Python310\lib\tkinter\__init__.py", line 1921, in __call__
    return self.func(*args)
  File "C:\Users\mustafeez\AppData\Local\Temp\ipykernel_15628\979394428.py", line 308, in save
    profit = (price-cost)*qty
TypeError: unsupported operand type(s) for -: 'str' and 'float'